@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
    border: red 2px dotted;
}

#pokemonInput {
    margin-right: 10px;
}

button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #3b4cca;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

#pokemonInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 50vh;
    }
    

header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    background-color: #f8d030;
}

.title {
    font-family: 'Fascinate Inline', cursive;
    font-size: 3em; 
    text-align: center;
    color: #3b4cca; 
    animation: pulse 2s infinite;
}

.title:hover {
    color: red;
}